.currencies {  
  padding: 20px;
  margin-bottom: 30px;
}

.currencies__header {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 15px;
}

.currencies__controls {
  display: flex;
  border-radius: 10px;
  border: 1px solid #9ea9b7;
  background-color: #9ea9b7;
}