body {
  background-color: #eff1f4;
  font-family: -apple-system,BlinkMacSystemFont,Inter,Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  color: #202020;
}

button {
  font-family: -apple-system,BlinkMacSystemFont,Inter,Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
}

.wrapper {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  max-width: 1280px;
  margin: 0 auto;
}